{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clientes</h1>

    <table class="table table-striped table-houver table-bordered">
        <thead>
            <tr>
                <th>Idclient</th>
                <th>Nombre</th>
                <th>Tel</th>
                <th>Sexo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': cliente.idclient }) }}">{{ cliente.idclient }}</a></td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.tel }}</td>
                <td>{{ cliente.sexo }}</td>
                <td>
                    <ul>
                            <a class="btn btn-primary" href="{{ path('cliente_show', { 'id': cliente.idclient }) }}">show</a>
                            <a class="btn btn-warning" href="{{ path('cliente_edit', { 'id': cliente.idclient }) }}">edit</a>
                         <a class="btn btn-danger" title="Clic si desea Eliminar" href="{{path('cliente_delete',{"id":cliente.idclient})}}" onclick="return confirm('¿Está seguro que desea Eliminar?')">Eliminar</a>                                 
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-success" href="{{ path('cliente_new') }}">Nuevo cliente</a>
    
{% endblock %}
